
@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
    background-color: #E8E6E6
}

h1 {
    font-family: Roboto;
    font-size: 50px;
    font-weight: bold;
}

h3 {
    font-family: Roboto;
    font-size: 50px;
    font-weight: lighter;
}

h6 {
    font-family: Roboto;
    font-size: 15px;
    font-weight: bold;
}

p {
    font-family: Roboto;
    font-size: 20px;
}

/*Colors*/
#white-color
{
    color: white;
}
#peach-color
{
    color: #F59F76
}
#bold-orange-color
{
    color: #FB5605;
}
#gray-color
{
    color: #C7C7C7;
}
#yello-color
{
    color: #F9D059;
}

/*Sidebar CSS*/
.sidenav {
    height: 100%;
    width: 110px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #F9D059; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 175px 0 125px;
    text-align: center;
    /*6px 8px 6px 16px;*/
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    width: 200px;
    height: 150px;
    transform: rotate(90deg);
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: white;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }

  /*SlideShow*/
  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }